body{
    margin:0%;
    padding:0px;
}


h1{
    font-family: 'Kaushan Script', cursive;
    color:rgb(136, 19, 3);
    line-height: 300px;
    justify-content:center;
    letter-spacing: 10px;
    text-shadow: 1px 5px 5px #000;
    display: flex;
    flex-direction:row;
    flex-direction: column;
    text-indent: 10%; 
    font-size:4em;

}

.hero-section{
    min-height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.hero-section video {
    width: 100%;
    position: absolute;
    top:0;
    z-index: -1;

}
.hero-text{
    border:center;
}
